<div class="container mt-5">
    <div class="row g-4"> <!-- g-4 = kartlar arası boşluk -->
        <!-- Etkinlik 1 -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0 hover-shadow">
                <img src="/images/hukuk.png" class="card-img-top object-fit-cover" alt="Etkinlik 1"
                    style="height: 200px;">
                <div class="card-body d-flex flex-column text-center">
                    <h5 class="card-title">Konferans</h5>
                    <p class="card-text">📅 20 Nisan 2025</p>
                    <a href="#" class="btn btn-outline-primary mt-auto"><%= __('reserve') %></a>
                </div>
            </div>
        </div>

        <!-- Etkinlik 2 -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0 hover-shadow">
                <img src="/images/izusem-egitim.png" class="card-img-top object-fit-cover" alt="Etkinlik 2"
                    style="height: 200px;">
                <div class="card-body d-flex flex-column text-center">
                    <h5 class="card-title">Sanat Atölyesi</h5>
                    <p class="card-text">📅 22 Nisan 2025</p>
                    <a href="#" class="btn btn-outline-primary mt-auto"><%= __('reserve') %></a>
                </div>
            </div>
        </div>

        <!-- Etkinlik 3 -->
        <div class="col-md-4">
            <div class="card h-100 shadow-sm border-0 hover-shadow">
                <img src="/images/lisans.jpg" class="card-img-top object-fit-cover" alt="Etkinlik 3"
                    style="height: 200px;">
                <div class="card-body d-flex flex-column text-center">
                    <h5 class="card-title">Müzik Gecesi</h5>
                    <p class="card-text">📅 25 Nisan 2025</p>
                    <a href="#" class="btn btn-outline-primary mt-auto"><%= __('reserve') %></a>
                </div>
            </div>
        </div>
    </div>
</div>
