<!DOCTYPE html>
<html lang="tr">
<head>
    <%- include('partials/nav', { title: 'Giriş' }) %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />

</head>
<body>
    <div class="login-form">
        <form action="/login/check"  id="form" method="get">
          <h1>Giriş Yap</h1>
          
          <div class="content">
            
            <div class="input-field">
              <input type="name" id="username" name="username" placeholder="KULLANICI ADI*" autocomplete="nickname" oninput="this.value = this.value.replace(/\s/g, ''); this.value = this.value.slice(0, 45);" required>
            </div>
            <div class="input-field">
              <input type="password" id="password" name="password" placeholder="ŞİFRE*" autocomplete="password"  oninput="this.value = this.value.replace(/\s/g, '');"  required>
            </div>
            
          </div>
          
          
        </form>

        <p id="empty" class="error" >Gerekli Alanları Doldularmlısınız*</p>
        
        <div class="action" style="width: 50%; margin: 0 auto;" >
            
          <button type="submit" onclick="inputCheck()">Giriş</button>
          <button class="signupbutton" onclick="signup()">Kayıt Ol</button>
        </div>
        
      </div>
    
</body>
<script>
  document.getElementById("empty").style.display = "none";
    function entersubmit(event) { 
            if (event.key === "Enter") {
                inputCheck();
            }
        } 
    document.addEventListener("keydown", entersubmit);//when enter clicked in login page it submits form

    function inputCheck()
    {
      document.getElementById("empty").style.display = "none";
      let pass = document.getElementById("password").value;
      let user = document.getElementById("username").value;
      if(pass === "" || user === "")
      {
        document.getElementById("empty").style.display = "block";
      }
      else{
        document.getElementById("form").submit();
      }
    } 


    function signup()
    {
        window.location.href = "/signup";
    } 
</script>
</html>