<!DOCTYPE html>
<html lang="tr">
<head>
	<%- include('sayfalar/header', { title: 'Kayıt Ol' }) %>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Giriş Yap</title>
	<link href="/css/login.css" rel="stylesheet" type="text/css">
	<script src="alert.js" defer></script>
</head>
<body>
	<div class="login-form" >
	<h1>Kayıt Ol</h1>
		<form action="/signup/check" id="submitform" method="get">
		  <div class="content">
			<div class="input-field">
			  <input type="name" id="username" name="username" placeholder="KULLANICI ADI*" autocomplete="nickname" oninput="this.value = this.value.replace(/\s/g, ''); this.value = this.value.slice(0, 45);" required>
			  
			</div>
			
			<div class="input-field">
			  <input id="1" type="password" name="password" placeholder="ŞİFRE*" autocomplete="new-password" oninput="this.value = this.value.replace(/\s/g, '');" required>
			</div>
			
			<div class="input-field">
				<input id="2" type="password" name="password2" placeholder="TEKRAR ŞİFRE*" autocomplete="new-password" oninput="this.value = this.value.replace(/\s/g, '');" required>
				
			</div>
			
			
		  </div>
		  
		  
		</form>
		<p id="userrequire" class="error">Bir Kullanıcı Adı Yazmalısınız*</p>
		<p id="notsame" class="error">Şifreler Uyuşmuyor*</p>
		<p id="passrequire" class="error">Bir Şifre Yazmalısınız*</p>
		<p id="strongpass" class="error">Şifre en az 8 karakter uzunluğunda olmalı, en az bir büyük harf, bir küçük harf, bir sayı ve bir özel karakter içermelidir.</p>
		<div class="action" style="width: 40%; margin: 0 auto;" >
			<button class="signupbutton" style=" border-radius: 2vmin;" onclick="samepassword()">Kayıt Ol</button>
		  </div>
		
		
	</div>

	<div id="result"></div>
	
</body>
<script>
  function entersubmit(event) { 
			if (event.key === "Enter") {
				samepassword();
			}
		} 
  document.addEventListener("keydown", entersubmit);//when enter clicked in login page it submits form

  async function samepassword()
  {
	document.getElementById("passrequire").style.display = "none";
	document.getElementById("userrequire").style.display = "none";
	document.getElementById("strongpass").style.display = "none";
	document.getElementById("notsame").style.display = "none";

	let password1 = document.getElementById("1").value;
	let password2 = document.getElementById("2").value;
	let username = document.getElementById("username").value;
	let form = document.getElementById("submitform");
	const strongPasswordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/;
	if(username !== "")
	{
		
	  	if(password1 === "" || password2 === "")
	  	{ 
			document.getElementById("passrequire").style.display = "block";
	  	}
	  	else if(password1 === password2)
	  	{ 
			if(strongPasswordRegex.test(password1))
			{
				const formData = new URLSearchParams({
          			username: username,
          			password: password1,
          			password2: password2
        		});

        		try {
          			const response = await fetch('/signup/check?' + formData.toString(), {
            			method: 'GET'
          			});

          			const result = await response.text();
					try {
        				eval(result);
      				} catch (e) {
        			console.error('Error executing script:', e);
      				}
        		} catch (error) {
          			console.error('Error:', error);
        		}

			}
			else if(!strongPasswordRegex.test(password1))
			{
				document.getElementById("strongpass").style.display = "block";
			}
	  	}
	  	else
	  	{ 
			
			document.getElementById("notsame").style.display = "block";
	  	}
	}
	else
	{
	  	document.getElementById("userrequire").style.display = "block";
	}
  }
</script>

</html>