.theme-switcher {
    font-size: 2.2vh;
    padding-top: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: 6px solid hsl(111, 25%, 53%);
    background-color: #eaedf3;
    color: rgb(0, 0, 0);
    border-radius: 2vmin;
    width: 30%;
    height: auto;
    text-align: center;
    margin-top: 20px;
    box-shadow: 5px 5px rgba(0,0,0,0.5);
    
    padding-bottom: 2vh;
    
}

.theme-option {
    margin-top: 20px;
}
input[type="radio"]:checked 
{ 
    accent-color: hsl(217, 76%, 37%); 
}

.submit-btn
{
    margin: 0 auto;
    margin-top: 20px;
    display: block;
    text-align: center;
    padding: 3% 5%;
    border-radius: 1vh;
    cursor: pointer;
}

input[type="password"]
{
    border-radius: 1vmin;
    margin-top: 20px;
    font-size: 16px;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    padding: 3% 2%;
    border: 0;
    border-bottom: 1px solid #747474;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
}

input:focus
{
  transition: 0.2s;
  outline: 3px solid #FBBC04; /* Blue outline for focus visibility */
  outline-offset: 2px;       /* Offset for better appearance */
  box-shadow: 0 0 5px #fbbd047c;
  z-index: 99;
}

.logout-button{
    width: 180px;
    height: 50px;
    background-color: #dde7f7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: center;
    transition: all 0.3s ease;
    margin: 0 auto;
    margin-top: 4%;
  }



body.dark-mode input[type="radio"]:checked 
{
    accent-color: #052d6e;
}

body.dark-mode .theme-switcher
{
    border: 6px solid #052d6e;
    background-color: #414141;
    color: whitesmoke;
}

body.dark-mode input[type="password"]
{
    background-color: #747474;
    color: white;
}

body.dark-mode ::placeholder
{
    color: white;
}

@Media only screen and (max-width: 480px)
{
    .theme-switcher
    {
        width: 80%;
        font-size: large;
    }
    input[type="radio"]
    {
        width: 20px;
        height: 20px;
    }
}

@Media only screen and (min-width:480px) and (max-width: 780px)
{
    .theme-switcher
    {
        width: 30%;
    }
}